



.root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    /* width + margin: 0 auto позволяет выровнять контент по центру через авторазмер отступов margin*/
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    /* background-color: red; */   
    padding: 2px;
    overflow: hidden;
}


.leftPanel {
    display: grid;
    border-radius: 8px 0px 0px 8px;
    margin-left: 2px;    
    background-color: rgba(151, 151, 159, 0.218);
    width: 100%;

    /*align-items: center;/* Для центрирования элемента по перекрёстной оси  */
    justify-content: center;/* Для центрирования элемента по главной оси  */ 
}


.centerPanel {    
    flex: 1;   
    border-style: solid;
    grid-template-rows: 1fr 1fr;
    border-color: rgba(107, 107, 107, 0.218);;
}

.rightPanel {
    border-radius: 0px 8px 8px 0px;
    margin-right: 2px;   
    background-color: rgba(151, 151, 159, 0.218);
    width: 100%;
}

.leftPanel__topPanel {
    margin-top: 20px;
    height: 100px;
    width: 100%;      
}


.buttonStart {    
    background-color: #7a7c7a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.buttonStart:hover {    
    background-color: #0d9b0d; /* Green */
}

.puzzle {
    position: relative;
    overflow: hidden;
}


.puzzle__gradient_1 {
    background: linear-gradient(90deg, rgb(149, 146, 146) 40%,rgb(215, 215, 240) 60%);   
    height: 100%;
    width: 100%;
}

.puzzle__gradient_2 {
    background: linear-gradient(90deg, rgb(149, 146, 146) 40%,rgb(168, 255, 191) 60%);    
    height: 100%;
    width: 100%;
}

.puzzle__gradient_3 {
    background: linear-gradient(90deg, rgb(181, 74, 85) 40%,rgb(215, 215, 240) 60%);    
    height: 100%;
    width: 100%;
}

.puzzle__gradient_4 {
    background: linear-gradient(90deg, rgb(181, 74, 85) 40%,rgb(168, 255, 191) 60%);    
    height: 100%;
    width: 100%;
}


.puzzleDegree_0 {
    position: absolute;
    left: -25%;
    top: -25%;
    height: 150%;        
    width: 150%;
    transition: 0.5s;        
    /*
    background: linear-gradient(90deg, red,blue);
    */
}


.puzzleDegree_45 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(45deg);              
    }

.puzzleDegree_90 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(90deg);              
    }

.puzzleDegree_135 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */ 
        transform: rotate(135deg);              
    }

.puzzleDegree_180 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */  
        transform: rotate(180deg);              
    }

.puzzleDegree_225 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(225deg);              
    }

.puzzleDegree_270 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(270deg);              
    }

.puzzleDegree_315 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(315deg);              
    }