
.buttonStart {    
    background-color: #7a7c7a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 200px;
}

.buttonStart:hover {    
    background-color: #0d9b0d; /* Green */
}


.buttonClear {    
    background-color: #7a7c7a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    width: 200px;
}

.buttonClear:hover {    
    background-color: #0d9b0d; /* Green */
}



.puzzle {
    position: relative;
    overflow: hidden;
}




.puzzleDegree_0 {
    position: absolute;
    left: -25%;
    top: -25%;
    height: 150%;        
    width: 150%;
    transition: 0.5s;        
    /*
    background: linear-gradient(90deg, red,blue);
    */
}


.puzzleDegree_45 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(45deg);              
    }

.puzzleDegree_90 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(90deg);              
    }

.puzzleDegree_135 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */ 
        transform: rotate(135deg);              
    }

.puzzleDegree_180 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */  
        transform: rotate(180deg);              
    }

.puzzleDegree_225 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(225deg);              
    }

.puzzleDegree_270 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(270deg);              
    }

.puzzleDegree_315 {
        position: absolute;
        left: -25%;
        top: -25%;
        height: 150%;        
        width: 150%;
        transition: 0.5s;        
            /*
    background: linear-gradient(90deg, red,blue);
    */
        transform: rotate(315deg);              
    }